body {
  font-family: 'Roboto', sans-serif;
}
.os-articles h2 {
  font-style: bold;
}
.background-font {
  background-color: #ADEFD1FF ;
  width: 100%vw; 
  
}

.main-font {
    background-color: #EDFF00FF
}


.hero-image {
  background-image: url("images/welcome-img.jpg");
  background-size: cover;
}

.hero-text {
  text-align: center;
  color: black;
}

  



.linux-articles{
  font-style: bold;
}

@media only screen and (min-width: 768px) {
  .cover {
    height: 100%;
    object-fit: cover;
  } 
}


