

.top-bar {
  background-color: rgb(211,211,211);
}


.hero-image {
  background-image: url("images/welcome-img.jpg");
  background-size: cover;
}

.hero-text {
  text-align: center;
  color: black;
}
